{% extends 'master.html' %}

{% block title %} Django || Show all blogs {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="row">
            {% if blogs %}
                {% for post in blogs %}
                    <div class="col-md-4">
                        <h2><a href="/post/{{ post.id }}">{{ post.title|slice:":25" }}...</a></h2>
                        <p>{{ post.text|slice:":350" }}...</p>
                        <p>
                            <a href="/post/{{ post.id }}" role="button">View details &raquo;</a>
                        </p>
                    </div>
                    <!-- end col-md-4 -->
                {% endfor %}
            {% else %}
                <p>No posts are available.</p>
            {% endif %}
        </div>
    </div>


    <div class="clear"></div>
    <hr>

    <div class="col-md-4 col-md-offset-4">
       {% if is_paginated %}
            <div class="paginator">
                <span class="step-links" style="text-align: center !important;">
                    {% if blogs.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>

{% endblock %}