

{% extends 'master.html' %}


{% block title %} Blog Details Page {% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            {% if post %}
                <div class="col-md-4">
                     <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
                     <p>{{ post.text }}</p>
                </div>
            {% else %}
                    <p>No post are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}