

{% extends 'master.html' %}


{% block title %} Django you Beauty{% endblock %}


{% block body %}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Django</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">About Me <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Blog Post</a></li>
            <li><a href="#">Projects</a></li>
          </ul>
          <form class="navbar-form navbar-left pull-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <div class="col-md-4">
                         <h2><a href="/post/{{ post.id }}">{{ post.title|slice:":30" }}...</a></h2>
                         <p>{{ post.text|slice:":350" }}...</p>
                         <a href="/post/{{ post.id }}" class="readmore">Read More</a>
                    </div>
                {% endfor %}

            {% else %}
                    <p>No posts are available.</p>
            {% endif %}
        </div>
    </div>



{% endblock %}