
{% extends 'master.html' %}

{% block title %} Django || Home Page{% endblock %}

{% block body %}

    <div class="col-md-9">

        <div class="row">

            {% if blogs %}
                {% for post in blogs %}
                    <div class="col-md-4">
                        <h2><a href="/post/{{ post.id }}">{{ post.title|slice:":30" }}...</a></h2>
                        <p>{{ post.text|slice:":350" }}...</p>
                        <p>
                            <a href="/post/{{ post.id }}" role="button">View details &raquo;</a>
                        </p>
                    </div>
                    <!-- end col-md-4 -->
                {% endfor %}
            {% else %}
                <p>No posts are available.</p>
            {% endif %}

        </div><!--/row-->

    </div><!--/.col-md-9-->

    <div class="col-md-3 sidebar-offcanvas" id="sidebar">
       <div class="list-group">
           <h2>Recent Posts</h2>
           {% for link in blogs %}
               <a href="/post/{{ link.id }}" class="list-group-item">{{ link.title|slice:":30" }}</a>
           {% endfor %}
       </div>
    </div><!--/.sidebar-offcanvas-->

{% endblock %}