

{% extends 'master.html' %}


{% block title %} Django you Beauty{% endblock %}


{% block body %}

    {% if blogs %}
        {% for post in blogs %}
            <div class="col-md-4">
                 <h2><a href="/post/{{ post.id }}">{{ post.title|slice:":30" }}...</a></h2>
                 <p>{{ post.text|slice:":350" }}...</p>
                 <a href="/post/{{ post.id }}" class="readmore">Read More</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}

{% endblock %}